<h3><%= @venue.name %></h3>
<%= image_tag(@venue.venue_images.second.image_url, :class => "imagesize") %>
<p>この画像でいいですか？</p>
<div>
<button type="button" class="btn btn-success"><%= link_to "はい", select_path(id: @venue.id) %></button>
<button type="button" class="btn btn-success"><%= link_to "いいえ", types_path %></button>
</div>