<!-- <div class="col-xs-6 col-sm-3">規模</div>
<div class="col-xs-6 col-sm-3">地域</div>
<div class="col-xs-6 col-sm-3">タイプ</div>
<div class="col-xs-6 col-sm-3">イメージ</div> -->
<%= image_tag("logo.png", :class => "max") %>


<ul class="table-ul menu-pc">
  <li><a href="firsts#index">はじめに</a></li>
  <li><a href="kibos#index">規模</a></li>
  <li><a href="types#index">タイプ</a></li>
  <li><a href="images#index">イメージ</a></li>
</ul>





<ul class="table-ul1 menu-smp">
  <li><a href="firsts#index">はじめに</a></li>
  <li><a href="kibos#index">規模</a></li>
</ul>
<ul class="table-ul2 menu-smp">
  <li><a href="types#index">タイプ</a></li>
  <li><a href="images#index">イメージ</a></li>
</ul>

<div class="want">
    <a href="results#index">希望プラン</a>
</div>