<div class="first">
	<h1>はじめに</h1>
	<%= image_tag("sinrou.jpg", :class => "max") %><br><br>
	<p> このサイトは結婚式のイメージがわかない男性のためのサイトです。</p><br>
	<p> 順に画像を選択していくことで、３分で希望する結婚式のプランニングができます。</p><br>
	<p> 最後に希望プランのページをスクリーンショットし、奥さんに見せましょう！</p><br>
	<p> 結婚式は一生に一度のお互いにとっての大切な日です。一生の思い出に残る、最高の1日にするために、お互いの希望を是非話し合ってください！</p><be>
</div>